.L-p2-project-img-container {
   min-width: 60%;
   height: 35vh;
   margin-top: 3vh;
   background: linear-gradient(to bottom, rgba(206, 50, 89, .2) 0, rgba(206, 50, 89, .1) 40%, rgba(10, 25, 47, .2) 100%), url('../../images/project2.png');
   background-size: 36vw, 62vh;
   background-repeat: no-repeat;
   background-position: 0;
}

.L-p2-project-img-container:hover {
   min-width: 60%;
   height: 35vh;
   margin-top: 3vh;
   background: linear-gradient(to right, rgba(206, 50, 89, 0) 0, rgba(206, 50, 89, 0) 40%, rgba(206, 50, 89, 0) 100%), url('../../images/project2.png');
   background-size: 36vw, 62vh;
   background-repeat: no-repeat;
   background-position: 0;
}


.p2-L-project-desc-box {
   position: absolute;
   width: 30vw;
   height: 32vh;
   left: 20.2vw;
   top: 609vh;
   padding-top: 2vh;
   padding-bottom: 2vh;
}