.about-mobile {
   height: 108vh;
   width: 88vw;
   margin-left: 6vw;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.space {
   width: 100%;
   height: 10vh;
}

.about-box-mobile {
   width: 100%;
   height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 0;
}

.about-title-mobile {
   display: flex;
   justify-content: space-between;
   width: 100%;
   height: 7vh;
   align-items: center;
}

.about-num-mobile {
   font-family: 'PoppinsSemiBold';
   color: #CE3259;
   font-size: 6vw;
}

.about-title-text-mobile {
   font-family: 'PoppinsSemiBold';
   color: #CCD7F6;
   font-size: 6vw;
}

.about-line-box-mobile {
   display: flex;
   flex-direction: column;
   width: 49vw;
   height: 100%;
}

.about-line-mobile {
   height: 50%;
   border-bottom: 1px solid #75809B;
   width: 100%;
}

.headshot-box-mobile {
   width: 50%;
   height: 30%;
}

.headshot-mobile {
   max-width: 100%;
   height: auto;
   box-shadow: 0px 0px 20px 10px rgba(2, 12, 27, 0.7);
}

.about-text-mobile {
   font-family: 'PoppinsReg';
   color: #75809B;
   font-size: 3.5vw;
}

.skills-title-mobile {
   width: 100%;
   font-family: 'PoppinsSemiBold';
   color: #CE3259;
   font-size: 5vw;
   margin: 0;
}

.langs-box-mobile {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: left;
}

.lang-box-mobile {
   height: 25px;
   flex: 0 0 30%;
   margin: 1%;
   text-align: left;
}

.lang-logo-mobile {
   width: 7px;
   height: auto;
   margin-right: 10px;
}

.lang-text-mobile {
   font-family: 'PoppinsSemiBold';
   color: #75809B;
   font-size: 3vw;
   display: inline-block;
}