.about {
    height: 100vh;
    width: 100vw;
    margin-top: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 4%;
}

.about-left {
    margin-top: 30vh;
    width: 24%;
    height: 36%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-right {
    margin-top: 18vh;
    width: 33%;
    height: 70%;
    display: flex;
    flex-direction: column;
}

.about-title {
    display: flex;
    justify-content: space-between;
    height: 7vh;
    align-items: center;
}

.about-num {
    font-family: 'PoppinsSemiBold';
    color: #CE3259;
    font-size: 2vw;
}

.about-title-text {
    font-family: 'PoppinsSemiBold';
    color: #CCD7F6;
    font-size: 2vw;
}

.about-line-box {
    display: flex;
    flex-direction: column;
    width: 19vw;
    height: 100%;
}

.about-line {
    height: 50%;
    border-bottom: 1px solid #75809B;
    width: 100%;
}

.about-text {
    font-family: 'PoppinsReg';
    color: #75809B;
    font-size: 1vw;
}

.skills-title {
    font-family: 'PoppinsSemiBold';
    color: #CE3259;
    font-size: 1.5vw;
}

.langs-box {
    width: 100%;
    height: 25vh;
    display: flex;
    flex-wrap: wrap;
}

.lang-box {
    width: 25%;
    height: 33%;
    display: flex;
    align-items: center;
    gap: 0.7vw;
}

.lang-logo {
    width: 5%;
}

.lang-text {
    font-family: 'PoppinsSemiBold';
    color: #75809B;
    font-size: 1vw;
}

.headshot {
    max-width: 100%;
    height: auto;
    box-shadow: 0 0 20px 10px rgba(2, 12, 27, 0.7);
}