.coursework-mobile {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coursework-box-mobile {
    height: 60%;
    width: 88vw;
    display: flex;
    flex-direction: column;
}

.coursework-title-box-mobile {
    display: flex;
    justify-content: space-between;
    height: 6vh;
    align-items: center;
}

.coursework-num-mobile {
    font-family: 'PoppinsSemiBold';
    color: #CE3259;
    font-size: 6vw;
}

.coursework-title-text-mobile {
    font-family: 'PoppinsSemiBold';
    color: #CCD7F6;
    font-size: 6vw;
}

.coursework-line-box-mobile {
    display: flex;
    flex-direction: column;
    width: 12vw;
    height: 100%;
}

.coursework-line-mobile {
    height: 50%;
    border-bottom: 1px solid #75809B;
    width: 100%;
}

.coursework-menu-mobile {
    height: 5vh;
    display: flex;
    flex-direction: column;
    margin-top: 1vh;
}

.coursework-menu-buttons-mobile {
    display: flex;
    height: 100%;
}

.coursework-menu-button-mobile {
    width: 14.6vw;
    font-family: 'PoppinsReg';
    font-size: 2.1vw;
    color: #75809B;
    background-color: #0a192f;
    border-style: none;
    border-bottom: 3px solid #75809B;
}

.coursework-menu-button-clicked-mobile {
    width: 14.6vw;
    font-family: 'PoppinsReg';
    font-size: 2.1vw;
    color: #CE3259;
    background: linear-gradient(to top, rgba(206, 50, 89, .2) 0, rgba(206, 50, 89, .1) 40%, #0A192F 100%);
    border-style: none;
    border-bottom: 3px solid #75809B;
}

.coursework-menu-line-mobile {
    height: 4px;
    width: 14.6vw;
    margin-top: 4.6vh;
    position: absolute;
    background-color: #CE3259;
    transition: left 0.3s ease;
}

.coursework-page-mobile {
    height: 40vh;
}