.experience {
   height: 100vh;
   width: 100vw;
   margin-top: 8vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

.experience-box {
   margin-top: 8vh;
   height: 50%;
   width: 50%;
   display: flex;
   flex-direction: column;
   gap: 3vh;
}

.experience-title-box {
   display: flex;
   justify-content: space-between;
   height: 7vh;
   align-items: center;
}

.experience-num {
   font-family: 'PoppinsSemiBold';
   color: #CE3259;
   font-size: 2vw;
}

.experience-title-text {
   font-family: 'PoppinsSemiBold';
   color: #CCD7F6;
   font-size: 2vw;
}

.experience-line-box {
   display: flex;
   flex-direction: column;
   width: 29vw;
   height: 100%;
}

.experience-line {
   height: 50%;
   border-bottom: 1px solid #75809B;
   width: 100%;
}

.experience-content {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   /* Align items to the top */
   height: 70%;
   width: 100%;
}

.experience-menu {
   flex: 0 0 11vw;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   position: relative;
   z-index: 1;
}

.experience-menu-line {
   height: 7vh;
   width: 3px;
   position: absolute;
   background-color: #CE3259;
   transition: top 0.3s ease;
}

.experience-menu-buttons {
   width: 100%;
}

.experience-menu-button {
   width: 100%;
   height: 7vh;
   font-family: 'PoppinsReg';
   font-size: .9vw;
   color: #75809B;
   background-color: #0a192f;
   border-right: none;
   border-top: none;
   border-bottom: none;
   border-left: 3px solid #75809B;
   padding-top: 2vh;
   padding-bottom: 2vh;
   padding-left: 1vw;
}

.experience-menu-button-clicked {
   width: 100%;
   height: 7vh;
   font-family: 'PoppinsReg';
   font-size: .9vw;
   color: #CE3259;
   background: linear-gradient(to right, rgba(206, 50, 89, .2) 0, rgba(206, 50, 89, .1) 40%, #0A192F 100%);
   border-right-style: none;
   border-top-style: none;
   border-bottom-style: none;
   border-left: 3px solid #75809B;
   padding-top: 2vh;
   padding-bottom: 2vh;
   padding-left: 1vw;
}

.experience-menu-button:hover {
   color: #CE3259;
   background-color: rgba(206, 50, 89, .2);
   cursor: pointer;
}

.experience-menu-button-clicked:hover {
   background-color: #0E2343;
   cursor: pointer;
}

.experience-desc {
   height: 100%;
   width: 37vw;
}

.placeholder {
   display: none;
}