.leadership {
    height: 100vh;
    width: 100vw;
    margin-top: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leadership-box {
    margin-top: 8vh;
    height: 80%;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.leadership-title-box {
    display: flex;
    justify-content: space-between;
    height: 7vh;
    align-items: center;
}

.leadership-num {
    font-family: 'PoppinsSemiBold';
    color: #CE3259;
    font-size: 2vw;
}

.leadership-title-text {
    font-family: 'PoppinsSemiBold';
    color: #CCD7F6;
    font-size: 2vw;
}

.leadership-line-box {
    display: flex;
    flex-direction: column;
    width: 24.5vw;
    height: 100%;
}

.leadership-line {
    height: 50%;
    border-bottom: 1px solid #75809B;
    width: 100%;
}

.leadership-content {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.leadership-menu {
    height: 100%;
    width: 11vw;
    display: flex;
}

.leadership-menu-buttons {
    display: flex;
    flex-direction: column;
}

.leadership-menu-line {
    height: 7vh;
    width: 3px;
    position: absolute;
    background-color: #CE3259;
}

.leadership-menu-button {
    width: 100%;
    height: 7vh;
    font-family: 'PoppinsReg';
    font-size: .9vw;
    color: #75809B;
    background-color: #0a192f;
    border-right: none;
    border-top: none;
    border-bottom: none;
    border-left: 3px solid #75809B;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leadership-menu-button-clicked {
    width: 100%;
    height: 7vh;
    font-family: 'PoppinsReg';
    font-size: .9vw;
    color: #CE3259;
    background: linear-gradient(to right, rgba(206, 50, 89, .2) 0, rgba(206, 50, 89, .1) 40%, #0A192F 100%);
    border-right: none;
    border-top: none;
    border-bottom: none;
    border-left: 3px solid #75809B;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.leadership-menu-button:hover {
    color: #CE3259;
    background-color: rgba(206, 50, 89, .2);
    cursor: pointer;
}

.leadership-menu-button-clicked:hover {
    background-color: #0E2343;
    cursor: pointer;
}

.leadership-desc {
    height: 100%;
    width: 36vw;
}

.placeholder {
    display: none;
}