.leadership-mobile {
   height: 108vh;
   width: 100vw;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.space {
   width: 100%;
   height: 10vh;
}

.leadership-box-mobile {
   height: 100vh;
   width: 88vw;
   display: flex;
   flex-direction: column;
}

.leadership-title-box-mobile {
   display: flex;
   justify-content: space-between;
   height: 6vh;
   align-items: center;
}

.leadership-num-mobile {
   font-family: 'PoppinsSemiBold';
   color: #CE3259;
   font-size: 6vw;
}

.leadership-title-text-mobile {
   font-family: 'PoppinsSemiBold';
   color: #CCD7F6;
   font-size: 6vw;
}

.leadership-line-box-mobile {
   display: flex;
   flex-direction: column;
   width: 13vw;
   height: 100%;
}

.leadership-line-mobile {
   height: 50%;
   border-bottom: 1px solid #75809B;
   width: 100%;
}

.leadership-menu-mobile {
   height: 7vh;
   display: flex;
   flex-direction: column;
   margin-top: 1vh;
}

.leadership-menu-line-mobile {
   height: 4px;
   width: 29.3vw;
   margin-top: 6.6vh;
   position: absolute;
   background-color: #CE3259;
}

.leadership-menu-buttons-mobile {
   display: flex;
   height: 100%;
}

.leadership-menu-button-mobile {
   width: 29.3vw;
   font-family: 'PoppinsReg';
   font-size: 2.5vw;
   color: #75809B;
   background-color: #0a192f;
   border-style: none;
   border-bottom: 3px solid #75809B;
}

.leadership-menu-button-clicked-mobile {
   width: 29.3vw;
   font-family: 'PoppinsReg';
   font-size: 2.5vw;
   color: #CE3259;
   background: linear-gradient(to top, rgba(206, 50, 89, .2) 0, rgba(206, 50, 89, .1) 40%, #0A192F 100%);
   border-style: none;
   border-bottom: 3px solid #75809B;
}

.leadership-desc-mobile {
   height: 40vh;
   width: 88vw;
}

.placeholder {
   display: none;
}