.projects {
    height: 250vh;
    width: 100vw;
    margin-top: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects-box {
    height: 100%;
    width: 60%;
    margin-top: 40vh;
}

.projects-title-box {
    display: flex;
    justify-content: flex-start;
    gap: .8vw;
    height: 7vh;
    align-items: center;
}

.projects-num {
    font-family: 'PoppinsSemiBold';
    color: #CE3259;
    font-size: 2vw;
}

.projects-title-text {
    font-family: 'PoppinsSemiBold';
    color: #CCD7F6;
    font-size: 2vw;
}

.projects-line-box {
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 100%;
}

.projects-line {
    height: 50%;
    border-bottom: 1px solid #75809B;
    width: 100%;
}