svg {
   width: 28px;
   height: 28px;
   color: #75809B;
}

.svg-icon {
   width: 3vw;
   height: 3vh;
}

.socials-mobile {
   width: 100%;
   height: 10vh;
   margin-top: 40vh;
   display: flex;
   justify-content: center;
}

.social-icons-mobile {
   width: 88%;
   height: 70%;
   display: flex;
   justify-content: space-around;
   align-items: center;
}

.social-line-mobile {
   width: 100%;
   height: 40vh;
   display: flex;
   flex-direction: row-reverse;
}

.line-mobile {
   margin-top: 2vh;
   width: 50%;
   border-left: 3px solid #75809B;
}