svg {
    color: #75809B;
}

svg:hover {
    color: #CE3259;
    transform: scale(1.1);
    cursor: pointer;
}

.socials {
    background-color: #0a192f;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 10vh;
    justify-content: center;
    margin-top: 40vh;
}

.social-icons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70%;
}

.svg-icon {
    width: 28px;
    height: 28px;
}

/* Desktop specific styles */
@media (min-width: 1024px) {
    .socials {
        width: 7vw;
        height: 40vh;
        position: fixed;
        bottom: 0;
        flex-direction: column;
        margin-top: 0;
    }

    .social-icons {
        height: 70%;
        flex-direction: column;
    }
}